
h1, h2 
{
    font-family: 'oswald';
    color: darkred;
    font-display: medium;
}

h1
{
    width: 70%;
    font-size: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

h2
{
    width: 70%;
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}

body
{
    margin: 0 auto;
    width: 95%;
    color: white;    
}

html 
{ 
    margin:0;
    padding:0;
    background: url(background.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
  }

.nav-container
{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-self: flex-end;
    

}

header
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    
    box-shadow: 0 0 40px grey;
}

a:link
{
   text-decoration: none;
   color: white;
}

li
{
    padding: 20px;
    font-size: 20px;
    padding: 20px 20px;
}

a:hover
{
    text-decoration: underline;
    color: darkred;
    font-size: 30px;
}

li:hover
{
    
    background-color: grey;
    opacity: 0.6;
}

a:visited
{
    color: white;
}

.login
{
    font-size: 20px;
    height: 25px;
    width: 130px;
    background-image: radial-gradient(white, darkred);
    color: black;
    border-radius: 6px;
    align-self: flex-end;
    justify-self: start;
    flex-direction: column-reverse;
    position: absolute;
    text-align: center;
}

.search
{
    align-self: center;
    justify-self: end;
    flex-direction: column-reverse;
    position: relative;
    text-align: center;
    
}

img:hover
{
    box-shadow: 0 0 40px grey;
    padding: 0 10px;
    transform: scale(1.2);
}

div
{
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: center;
}

header, section, footer
{
    margin: 0 auto;
    width: 98%;
    
}

header
{
    margin-top: 3px;
    background-color: rgba(47, 79, 79, 0.1);
    top: 10px;
    position: sticky;
    position: -webkit-sticky;
    margin-bottom: 50px;
}

section
{
    background-color: rgba(47, 79, 79, 0.1);
    margin-bottom: 40px;
}